*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  color: rgb(75, 110, 175);
}
th{
    text-align: center;
}
td{
    text-align: center;
    align-items: center;
}

.btn-right{
    float: right;
}

.sidebar{
  background: #6d7fcc;
  color: white;
  backdrop-filter: blur(15px);
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 80px;
}
.home-section{
  position: relative;
  left: 240px;
  width: calc(100% - 240px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  left: 80px;
  width: calc(100% - 80px);
}
.sidebar .logo-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 45px;
  text-align: center;
}
.sidebar .menu{
  position: relative;
  cursor: pointer;
  padding: 30px 0;
}
.sidebar .menu .item a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.sidebar .user-sidebar{
  position: relative;
  padding: 30px 0px;
}


.sidebar.active .menu .item a span, .sidebar.active .menu .item a .arrow, .sidebar.active .menu .item .sub-menu a{
  display: none;
}
.sidebar .menu .item a i.title{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 26px;
}
.sidebar .menu .item a:hover{
  background: #5161a8;
  transition: .3s ease;
}
.sidebar .menu .item a .arrow{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: .3s;
}
.sidebar .menu .item .sub-menu{
  background: #5161a8;
  display: none;
}
.sidebar .menu .item .sub-menu a{
  font-size: 16px;
}
.sidebar .menu .item .sub-menu a:hover{
  background: #394788;
}
.rotate{
  transform: rotate(90deg);
}

.nav-top{
  background-image: linear-gradient(to right, #6d7fcc 0%, #7fe9bb 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-height: 80px;
}
.nav-top .header-left .fa-bars{
  font-size: 35px;
  margin: 0 15px;
  cursor: pointer;
}

.dashboard{
  padding: 40px 50px;
  height: auto;
  background-color: #dff9fcbd;
}
.dashboard-item{
  padding: 20px 0;
}
.db-card{
  padding: 10px;
}
.db-item{
  border: 1px solid rgb(212, 210, 210);
  border-radius: 6px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 18%);
}
.db-box-icon{
  background-image: linear-gradient(to left, #667eea 0%, #764ba2 100%);
  color: white;
  margin: auto;
  font-size: 32px;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 68px;
  border-radius: 100%;
}
.db-box-content p{
  font-size: 18px;
}
.newInfo{
  padding: 50px 0;
}
.myTable{
  border: 1px solid rgb(212, 210, 210);
  border-radius: 6px;
  background-color: white;
}

.welcome-staff{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome-title h2{
  font-weight: 700;
}
#searchName:focus{
  outline: transparent;
  border: 1px solid rgb(163, 163, 163);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.staff-card{
  padding: 15px;
}
.staff-card .item{
  background: white;
  border-radius: 8px;
  border: 1px solid rgba(180, 179, 179, 0.822);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.item-img{
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  padding-top: 10px;
}
.item-img img{
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
}
.item-info{
  padding: 10px 5px;
  text-align: center;
  line-height: 5px;
}
.item-info a{
  text-decoration: none;
  color: rgb(44, 44, 138);
  font-size: 14px;
  cursor: pointer;
  transition: .5s;
}
.item-info a:hover{
  font-weight: 600;
}

.user-panel {
    clear: left;
    display: block;
    float: left;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info,  .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel {
    clear: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 25px 15px;
    border-bottom: 1px solid;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1552;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    font-family: "Roboto", sans-serif;
    background: #EFF1F3;
    min-height: 100vh;
    position: relative;
}

.section-50 {
    padding: 50px 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: #333;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    margin-left: 20px;
}

.fliph .user-panel{ display: none; }

.animal-card{
    padding: 15px;
}
.animal-card .item{
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(180, 179, 179, 0.822);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.register:hover{
  box-shadow: 5px 0 20px 0 rgba(63, 186, 108, 0.579);
}
.gradient-custom-3 {
  background: #84fab0;

  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
  background: #84fab0;

  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}
#btnAddUser i{
  font-size: 18px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
#task-description:focus, #customFile:focus, #leave-number:focus, #leave-reason:focus, #addName:focus, #tknv:focus, #phongban:focus{
  outline: transparent;
  border: 1px solid rgb(163, 163, 163);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.dashboard .show-form, .dashboard .change-form{
  background-color: white;
  border-radius: 8px;
  border: transparent;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.3);
}
.dashboard .show-form .add-form,.dashboard .change-form1{
  padding: 0 30px;
}

#user-avatar{
  width: 100%;
  border-radius: 6px;
}
#btnSave, #btnSaveStaff, #btnGiveTask, #btnSendLeave, #btnUncheckLeave, #btnCheckLeave, #btnUpdateStaff, #btnClose, #btnSavePW{
  border-radius: 6px;
  border: transparent;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  background-color: #526bda;
  transition: .5s;
}
#btnUncheckLeave{
  background-color: #d81e28;
}
#btnUncheckLeave:hover{
  background-color: #bb161e;
}
#btnSave:hover, #btnSavePW:hover, #btnSaveStaff:hover, #btnGiveTask:hover, #btnSendLeave:hover, #btnCheckLeave:hover, #btnUpdateStaff:hover{
  background-color: #475ec4;
}
#btnClose {
  background-color: #4256b1;
}
#btnClose:hover {
  background-color: #2f439c;
}

.depTable{
  background: white;
}
#depBody #showDep{
  border: transparent;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: #526bda;
  color: white;
  transition: .5s;
}
#depBody #showDep:hover{
  background-color: #475ec4;
}
.form-control:focus{
  border-color: rgb(148, 146, 146);
  box-shadow: 0 0 0 2px rgba(148, 146, 146, 0.2);
}
.show-Department{
  width: 90%;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px){
  .form_container{
      max-width: 350px;
  }
}
@media (max-width: 576px){
  .header-left h4{
      display: none;
  }
}
@media (max-width: 1202px){
  .welcome-title h2{
    font-size: 27px;
  }
  .dashboard .change-form{
    width: 75%;
  }
}

@media (min-width: 1200px){
  .dashboard .show-form{
    width: 50%;
  }
  .dashboard .change-form{
    width: 400px;
  }
}


