<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDesk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <!-- MAIN -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center gradient-custom-3 h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="my-4 col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create new animal</h2>
              <form>
                <div class="form-outline mb-4">
                    <p><img id="petpicture" width="200" style="vertical-align: middle;" class="center"/></p>
                    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                    <p style="text-align: center;"><label for="file" style="cursor: pointer;">Upload picture</label></p>
                  </div>
                <div class="form-outline mb-4">
                  <input type="text" id="petname" name="petname" class="form-control form-control" placeholder="Animal name"/>
                </div>
                <div class="form-outline mb-4">
                    <select name="dropSelect" class="form-control form-control">
                        <option value="" disabled selected hidden>Choose species</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                     </select>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="pettype" name="pettype" class="form-control form-control" placeholder="Animal type"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="date" id="petbirth" name="petbirth" class="form-control form-control"/>
                </div>
                <div class="form-outline mb-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number" id="petweight" name="petweight" class="form-control form-control" placeholder="Animal weight"/>
                        </div>
                        <div class="col-lg-4">
                            <select name="dropSelect" class="form-control form-control">
                                <option value="kg">kg</option>
                                <option value="g">g</option>
                             </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="register btn btn-success btn-block btn-lg gradient-custom-4 border-0 w-100">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('petpicture');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</body>

</html>